body{
    background-color: rgb(83, 83, 83);
}

.head {
    background-color: rgb(170, 170, 170);
    padding: 15px;
    border: black solid 5px;
    border-radius: 10px;
    height: 75px;
    margin-top: auto;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topnav {
    background-color: gray;
}